@page "/Agregar"
@inject MetasService metaService
@rendermode InteractiveServer

<EditForm Model="meta" OnValidSubmit="save">
    <DataAnnotationsValidator/>
    <div class="card">
        <div class="card-header">
            <h3>Registro Metas</h3>
        </div>

        <div class="card-body">

            <div class="col-auto">
                <label>Descripci&oacute;n</label>
                <InputText @bind-Value="@meta.Descripcion" class="form-control"></InputText>
                <ValidationMessage For="(() => meta.Descripcion)"/>
            </div>

            <div class="col-auto">
                <label>Fecha</label>
                <InputDate @bind-Value="@meta.Fecha" class="form-control" min="2020-01-01"></InputDate>
                <ValidationMessage For="(() => meta.Fecha)" />
            </div>

            <div class="col-auto">
                <label>Monto</label>
                <InputNumber @bind-Value="@meta.Monto" class="form-control"></InputNumber>
                <ValidationMessage For="(() => meta.Monto)" />
            </div>
        </div>

        <div class="card-footer " >
            <a href="/" class="bi bi-arrow-90deg-left btn btn-outline-info">Atras</a>
            <button type="submit" class="bi bi-floppy btn btn-success">Guardar</button>
        </div>
    </div>
</EditForm>


@code {
    public Metas meta = new Metas();
    public string mensaje = string.Empty;

    protected override void OnInitialized()
    {
        meta.Fecha = DateTime.Now;
    }
    public async Task save()
    {
        var guardar = await metaService.save(meta);

        if (guardar)
        {
            nuevo();
            mensaje = "Meta guardada Correctamente";
        }
        else
        {
            mensaje = "Ya existe esa descripcion";
        }
    }

    public void nuevo()
    {
        meta = new Metas();
        mensaje = string.Empty;
    }
}
