@page "/Detalles/{metaId:int}"
@inject MetasService metaService
@rendermode InteractiveServer

<div class="card">
    <div class="card-body">
       <p>Meta id: @meta.MetaId</p>
       <p>Meta descripco&oacute;n : @meta.Descripcion</p>
       <p>Meta Fecha: @meta.Fecha</p>
       <p>Meta Monto: @meta.Monto</p>
       <p></p>
    </div>
</div>

@code {
    [Parameter]
    public int metaId { get; set; }
    public Metas meta = new Metas();
    public string mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        meta = await metaService.firstIdAsync(metaId);
    }

}
