@page "/Detalles/{metaId:int}"
@inject MetasService metaService
@rendermode InteractiveServer

<div class="card">
    <div class="card-header">
        <h3>Detalles</h3>
    </div>
    <div class="card-body">
       <p>Meta id: @meta.MetaId</p>
       <p>Meta descripci&oacute;n : @meta.Descripcion</p>
       <p>Meta Fecha: @meta.Fecha</p>
       <p>Meta Monto: @meta.Monto.ToString("N2")</p>
       <p></p>
    </div>

    <div class="card-footer">
        <a href="/Index" class="bi bi-arrow-90deg-left btn btn-outline-info">Atras</a>
    </div>
</div>

@code {
    [Parameter]
    public int metaId { get; set; }
    public Metas meta = new Metas();
    public string mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        meta = await metaService.firstIdAsync(metaId);
    }

}
